.snackbar-container {
    position: fixed;
    margin: 2rem 1rem;
    width: fit-content;
    border-radius: 0.5rem;
    box-shadow: var(--box-shadow);
    z-index: 3;
    top: 5rem;
    right: 0;
    color: var(--white);
    padding: 1rem 1rem;
    align-items: center;
}

.display-none {
    display: none;
}

.added{
    background-color: var(--green);
}

.removed{
    background-color: var(--red);
}